body {
    background-color: black;
}

.page-content {
    background-color: aliceblue;
}



/* Header and hero image styles */

.header-container {
    text-align: center;
    font-size: 2rem;
    position: relative;
    width: 100%;
}

.header-container img {
    width: 100%;
    display: block;
    
}

.header-container h1, .header-container h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.header-container h2 {
    top: 55%;
}

.header-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    background: radial-gradient(circle, rgba(0,0,0,0.6), transparent);
}

/* Nav-bar styles */

.nav-bar {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5% 20%;
    background-color: blueviolet;
    margin: 0%;
    list-style-type: none;
    
}

.nav-link {
    display: block;
    transition: transform 0.4s ease;
}

.nav-link:link, .nav-link:visited {
    text-decoration: none;
    color: white;

}

.nav-link:hover {
    transform: scale(1.3);
}

/* Footer styles */

.contact-link {
    display: block;
    transition: transform 0.4s ease;
}

.contact-link:hover {
    transform: scale(1.3);
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0.9% 20%;
    margin: 0%;
    background-color: rgb(211, 147, 253);
}

.contact-icon {
    width: 50px;
    height 50px;
}



#copyright {
    text-align: center;
    background-color: azure;
    padding: 1% 20%;
    margin: 0%;
}