.contact-icon {
    width: 50px;
    height 50px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-text {
    text-align: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 20%;
}

#copyright {
    text-align: center;
}